body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dashboard-container {
    display: flex;
    max-width: 1200px;
    width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-top: 70px;
    
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.content-container {
    padding: 30px;
    width: 100%;
}

.content-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.inventory-table th, .inventory-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.inventory-table th {
    background-color: #f7f7f7;
    font-weight: bold;
}

.inventory-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

form {
    display: inline-block;
}

.update {
    padding: 5px 10px;
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete {
    padding: 5px 10px;
    margin-top: 5px;
    background-color: #ec2517;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
}
