body{
    background: url(images/Bground.jpg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent; 
    }

    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .container{
        
        padding-right: 50px;
        padding-left:50px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 70px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
        background: transparent;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(35, 84, 218, 0.2);
        width: 300px;
        border-bottom: 100px;
    }

    .wrapper h1{
        display: flex;
        justify-content: center;
        color: rgb(121, 0, 74);
        padding-top: 0;
        padding-bottom: 7%;
        text-align: center;
        margin-bottom: 20px;
        
    }

    .container input{
        background: transparent;
        width: calc(72% - 20px);
        padding: 10px;
        padding-right: 30%;
        border: 1px solid #303d52;
        border-radius: 40px;
        margin: 10px 0;
        justify-content: left;
    }

    .container button{
        padding: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        color: rgb(66, 20, 20);
        cursor: pointer;
        border-radius: 40px;
        background: transparent;
      }
      
      #button{
        background: transparent;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
      }

      /* media Query */

      @media screen and (max-width: 700px){

      }